@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.beloved_pic {
    position: absolute;
    width: 12rem;
    height: 12rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.3rem;
    background-image: url("/images/beloved.png");
    background-size: cover;
    background-position: center;
}

.drag_item {
    position: absolute;
    background-image: url("/images/ruled.png");
    font-size: 1.2rem;
    width: 20rem;
    height: 10rem;
    padding: 2rem;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: grid;
    place-items: center;
    font-family: 'Caveat', cursive;
    color: rgb(255, 0, 136);
    border-radius: 0.3rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: move;
}


.create_note_btn {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: #6414e9;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}
